<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="BookRepository" type="TechTestCTM.Data.Configuration.BookRepositoryConfig, TechTestCTM.Data"/>
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <BookRepository>
    <Books>
      <Book id="1" filePath="/Books/The Railway Children [E Nesbit].txt"/>
    </Books>
  </BookRepository>
  
</configuration>