<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BookRepository" type="TechTestCTM.Data.Configuration.BookRepositoryConfig, TechTestCTM.Data"/>
  </configSections>
  <BookRepository>
    <Books>
      <Book id="1" filePath="FilePath1"/>
      <Book id="2" filePath="FilePath2"/>
      <Book id="3" filePath="FilePath3"/>
      <Book id="4" filePath="FilePath4"/>
    </Books>
  </BookRepository>
</configuration>